<!DOCTYPE html>
<html lang="en-us">

    <head>
        <title>DemoDRA - Current Weather</title>
        
        <link rel="stylesheet" href="/built/css/default.css" />

        <script src="/bower_components/angular/angular.js"></script>
        <script src="/bower_components/angular-route/angular-route.js"></script>
        <script src="/js/controllers.js"></script>
    </head>

    <body>
        <div float="left">
            <% include includes/mainbody %>
            
        </div>
    
    <div id="map" style="width:80%; height:80%"></div>

    <script>
         angular.element(document).ready(function() {
            angular.bootstrap(document, ['ConsoleModule']);
        });
    </script>

	<script>
		 	var map;
		 	var location={lat: -37.7833, lng: 172.2793};
		 	
		 	function iniMap(){
		 		map = new google.maps.Map(document.getElementById('map'), {center: location, zoom:8});
		 	}
			
		
	</script>
		<script 
		async defer
		src = "https://maps.googleapis.com/maps/api/js?key=AIzaSyDOd05ARvJt0A5QMzaKr21EqIvZdhYABJE&callback=iniMap"
		</script>
	</body>

</html>