<!DOCTYPE html>
<html lang="en-us">

    <head>
        <title>DemoDRA - Current Weather</title>
        
        <link rel="stylesheet" href="/built/css/default.css" />

        <script src="/bower_components/angular/angular.js"></script>
        <script src="/bower_components/angular-route/angular-route.js"></script>
        <script src="/js/controllers.js"></script>
    </head>

    <body>
        <div float="left">
            <% include includes/mainbody %>
            <div id="map" stle="width:80%; height:80%"></div>
        </div>
    

    <script>
         angular.element(document).ready(function() {
            angular.bootstrap(document, ['ConsoleModule']);
        });
    </script>

	<script>
		<title>Google Map</title>
		
		<meta name="cieport" content="initial-scal=1.0">
		<!--meta http-equiv="X-UA-Compatible" content="ie=edge"-->
		<meta charset="utf-8">
		
		<!--style>
		
		#map{
			heigh: 100%;
			width: 100%;
		}
		<style-->
	<head>
	
	
		<!--hl>Google Map</hl-->
	
		<script>
		var map; 
		var location= {lat: -37.7833, lgn: 175.2833},
		function iniMap(){
			map = new google.maps.Map(document.getElementById('map'), {
				center: location
				zoom: 8
			});
		});
		
		}
		<script>
		<script src = "https://maps.googleapis.com/maps/api/ks?key=AIzaSyDOd05ARvJt0A5QMzaKr21EqIvZdhYABJE&callback=iniMap"
		async defer></script>
	<body>

</html>